/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/* RESET http://meyerweb.com/eric/tools/css/reset/ v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LAYOUT STRUCTURE */

body {
  background: #F6F6F6;
  font: 12px "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif;
  color: #333;
  min-width: 960px;
}

a:link, a:visited, a:active {
  color: #0AF;
  text-decoration: none; 
}

a:hover, a:focus {
  color: #75C5F5;
  text-decoration: none;
}

.layoutContent {
  margin: 0 auto;
  width: 850px;
}

#header {
  background: #75C5F5;
  background-image: -webkit-linear-gradient(#AADBF9, #75C5F5);
  background-image: -moz-linear-gradient(top, #AADBF9, #75C5F5);
  border-bottom: 1px solid #3BADEC;
}

#header .title {
  color: #FEFEFE;
  font: bold 20px Helvetica, Arial;
  padding: 5px 0 3px;
  text-shadow: 0 0 2px #888;
}

#content .layoutContent {
  background: #FBFBFB;
  border: 1px solid #EEE;
  border-top: none;
  padding: 10px;
}

/* Home */

.protips {
  width: 600px;
}

/* Protips */

.protips {
  list-style: none;
  margin: 0 15px;
}

.protips .protip {
  border-bottom: 1px solid #EEE;
}

.protips .protip:last-child {
  border-bottom: none;
}

.protip {
  padding: 15px 0;
}

.protip .text {
  font: 18px Georgia, Arial;
}

.protip .like {
  color: #CCC;
  font: bold 20px Helvetica, Arial;
}

.protip:hover .like {
  color: #333;
  cursor: pointer;
}

.protip .like.liked .count {
  color: #333;
}

.protip .like.liked .action {
  color: #D00;
}

.protip .actions {
  text-align: center;
}

.protip .action {
  font-size: 26px;
}

.protip .tags {
  margin: 3px 0 6px;
}

.protip .bottom {
  color: #888;
  font-size: 11px;
}

/* Tags */

.tags {
  list-style: none;
}

.tags .tag {
  background: #AADBF9;
  border-radius: 3px;
  color: #FFF;
  float: left;
  font-size: 10px;
  margin-right: 5px;
  padding: 0 4px 1px;
  text-shadow: 0 0 1px #888;
}

/* Publisher */

.protipPublisher {
  margin: 5px 0 10px 15px;
  width: 400px;
}

.protipPublisher .protipTextarea {
  border: 1px solid #AAA;
  border-bottom: 1px dashed #CCC;
  font: 18px Georgia, Arial;
  padding: 5px;
  resize: none;
}

.protipPublisher .protipTags {
  border: 1px solid #AAA;
  border-top: 0;
}

.protipPublisher .protipTextarea,
.protipPublisher .protipTags {
  display: block;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.protipPublisher .submitButton {
  float: right;
  font-size: 16px;
  margin: 8px -12px 0 0;
  padding: 5px;
}

/* Sitewide */

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
