<!DOCTYPE html>
<html lang=en>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>That's a Protip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="layoutContent">
      <h1 class="title">THAT'S A PROTIP</h1>
    </div>
  </div>
  <div id="content">
    <div class="layoutContent">
      <%= yield %>
    </div>
  </div>
</body>
</html>
